.Map {
    height: 3600px;
    width: 3600px;
    margin: auto;
    float: left;
    z-index: 1;
  }

.Map.-Invisible {
  opacity: 0.0;
  position: absolute;
  z-index: 5;
  left: 0;
}

.Shop {
  position: absolute;
  z-index: 2;
}

.Pointer {
    position: absolute;
    transform: scale(5);
    z-index: 3;
}

.Shop.-Highlighted {
    border: red 1px solid;
    border-radius: 50%;
    transform: scale(2.5);
  }