.map {
  height: 3600px;
  width: 3600px;
  margin: auto;
}

.map-container {
  position: relative;
}

.map.-invisible {
  opacity: 0;
  position: absolute;
  left: 0;
}

.shop {
  position: absolute;
}

.shop + .shop-tooltip {
  display: none;
}

.shop:hover + .shop-tooltip {
  display: block;
  border: none;
}

.pointer {
  position: absolute;
  transform: scale(5);
}

.shop.-highlighted {
  border: red 1px solid;
  border-radius: 50%;
  transform: scale(2.5);
}

.tooltip {
  font-size: 50px;
}
