@use "./coordsConstants";

.coordinatesContainer {
  padding: coordsConstants.$containerPadding;
  font-size: coordsConstants.$containerFontSize;
  position: absolute;
  right: 2vw;
  width: 15%;
  height: auto;
}
