@use "./shopEffects";
@use "./shopConstants";

.shop {
  position: absolute;
  height: shopConstants.$shopHeight;
  width: shopConstants.$shopWidth;

  + .shop-tooltip {
    display: none;
    border-radius: 10vw !important;
    height: 7% !important;
    width: 25% !important;
    font-size: 1.5vw !important;
    text-align: center !important;
    padding: 4vh 0vw 0vh !important;
    margin: 4vh 0vw 0vh !important;
  }

  &:hover + .shop-tooltip {
    display: block;
    border: none;
  }

  &.-highlighted {
    @include shopEffects.upscaledShop();
    @include shopEffects.markedShop();
  }
}
