@use "./shopEffects";
@use "./shopConstants";

.shop {
  position: absolute;
  height: shopConstants.$shopHeight;
  width: shopConstants.$shopWidth;

  + .shop-tooltip {
    display: none;
  }

  &:hover + .shop-tooltip {
    display: block;
    border: none;
  }

  &.-highlighted {
    @include shopEffects.upscaledShop();
    @include shopEffects.markedShop();
  }
}
