@use "./shopEffects";
@use "./shopConstants";
@use "../screens/screen_sizes";

.shop {
  position: absolute;
  width: shopConstants.$shopWidth;

  + .shop-tooltip {
    display: none;
    border-radius: 175px !important;
    text-align: center !important;

    @media only screen and (min-width: screen_sizes.$small) {
      height: 10px !important;
      width: 150px !important;
      font-size: 10px !important;
    }

    @media only screen and (min-width: screen_sizes.$medium) {
      height: 15px !important;
      width: 225px !important;
      font-size: 15px !important;
    }

    @media only screen and (min-width: screen_sizes.$large) {
      height: 20px !important;
      width: 350px !important;
      font-size: 20px !important;
    }
  }

  &:hover + .shop-tooltip {
    display: block;
    border: none;
  }

  &.-highlighted {
    @include shopEffects.upscaledShop();
    @include shopEffects.markedShop();
  }
}
